*{
    margin: 0;
}
@font-face {
    font-family: "digital";
    src: url('../fonts/digital.ttf');
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(5, 5, 5, 0.853); 
}

header, footer{
    color: rgb(251, 161, 2);
}

header {
    font-family: "digital";
    font-size: 2rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11vh 0;
}

.container {
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 220px;
    border: 0.5px solid rgb(249, 247, 247);
    border-radius: 5px;
    background: linear-gradient(45deg, rgba(110,113,113,1) 0%, rgba(201,188,202,1) 31%, rgba(213,225,225,1) 54%, rgba(215,238,237,1) 62%, rgba(198,200,201,1) 100%);
}

section {
    flex: 1;
    color:beige;
}

button {
    width: 52px;
    height: 52px;
    color: white;
    border: 0.5px solid rgba(29, 29, 29, 0.28);
    margin: 2px 0;
    cursor: pointer;
    font-family: "digital";
    font-size: large;
}

#screen {
    width: 220px;
    height: 54px;
    border: 0.5px solid rgb(40, 38, 38);
    display: block;
    font-size: 30px;
    text-align: right;
    border-radius: 2px;
    background-color: rgba(28, 27, 27, 0.853);
    font-family: "digital";
    box-sizing: border-box;
    padding: 8px;
    overflow-x: scroll; 
}

#keyscreen {
    width: 220px;
    height: 34px;
    border: 0.5px solid rgb(42, 41, 41);
    display: block;
    font-size: 15px;
    text-align: right;
    border-radius: 2px;
    background-color:  rgba(28, 27, 27, 0.853);
    font-family: "digital";
    box-sizing: border-box;
    padding: 8px;
    margin: 1px 0px 5px 0px;
    overflow-x:scroll; 
}

.purple {
    background-color: rgb(163, 2, 222);
}
.purple:active {
    background-color: rgb(133, 2, 210);
}

.red {
    background-color: rgb(234, 0, 117);
}
.red:active {
    background-color: rgb(251, 4, 45);
}

.yellow {
    background-color: rgb(251, 161, 2);
}
.yellow:active {
    background-color: rgb(232, 136, 3);
}

#ac, #bs {
    width: 50px;
    height: 35px;
    border-radius: 3px;
    color: rgb(125, 5, 169);
    border: 1px solid rgb(174, 173, 173);
    background-color: rgb(197, 197, 190);
    line-height: 1rem !important;
}


.smaller_font{
    font-size: 19px !important;
    text-align: center !important;
    padding-top: 7% !important;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  } 
  
  /* Track */
::-webkit-scrollbar-track {
    background: rgba(62, 61, 61, 0.853);
}

/* Handle */
::-webkit-scrollbar-thumb {
    width: 4px; 
    background: #888;
} 
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

