*{
    margin: 0;
}
@font-face {
    font-family: "digital";
    src: url('../fonts/digital.ttf');
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 41, 40);
    
}

main {
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 212px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(214, 246, 223);
}

section {
    flex: 1;
    color:beige;
}

button {
    width: 50px;
    height: 50px;
    color: white;
    border: 0.5px solid rgba(29, 29, 29, 0.28);
    margin: 2px 0;
    cursor: pointer;
}

#screen {
    width: 210px;
    height: 50px;
    border: 1px solid rgb(40, 38, 38);
    display: block;
    font-size: 33px;
    text-align: right;
    border-radius: 2px;
    background-color: rgba(84, 84, 84, 0.853);
    font-family: "digital";
    box-sizing: border-box;
    padding: 8px;
    /* overflow-x: scroll; */
}

#keyscreen {
    width: 210px;
    height: 34px;
    border: 1px solid rgb(40, 38, 38);
    display: block;
    font-size: 15px;
    text-align: right;
    border-radius: 2px;
    background-color: rgba(124, 117, 117, 0.853);
    font-family: "digital";
    box-sizing: border-box;
    padding: 8px;
    margin: 10px 0;
    /* overflow-x: scroll; */
}

.purple {
    background-color: rgb(163, 2, 222);
}

.red {
    background-color: rgb(234, 0, 117);
}

.yellow {
    background-color: rgb(251, 147, 2);
}

#ac, #bs {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    color: rgb(125, 5, 169);
    border: 1px solid rgb(189, 189, 189);
}

.smaller_font{
    font-size: 19px !important;
    text-align: center !important;
    padding-top: 7% !important;
}

/* ::-webkit-scrollbar {
    width: 5px 5px;
  } */
  
  /* Track */
/* ::-webkit-scrollbar-track {
background: rgba(84, 84, 84, 0.853);
}
   */
  /* Handle */
/* ::-webkit-scrollbar-thumb {
background: #888;
} */
  
/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
background: #555;
} */

